<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259066178410-rq0jp5vk6dvo7kjsrjk9hlv1nuk3lhq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259066178410-rq0jp5vk6dvo7kjsrjk9hlv1nuk3lhq2</string>
	<key>API_KEY</key>
	<string>AIzaSyCPXmerQx-wk3_9avgT6148uNaxXwhi3qw</string>
	<key>GCM_SENDER_ID</key>
	<string>259066178410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasePurchase</string>
	<key>PROJECT_ID</key>
	<string>fir-purchase-fae9b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-purchase-fae9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259066178410:ios:5085dfd58abf5f2c561313</string>
</dict>
</plist>